# ignore all file first
*

# unignore all files with extension
!*.*

# Unignore all dirs
!*/
bin/
tmp/


#### Above combination with ignore all files without extension ####
invoke.js
query.js
node_modules/
